html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
       line-height: 30px;
    background: #fff;
}

.container {
    width: 1200px;
    height: 1100px;
    margin: 0 auto;
    background: #fbfcfd;
}

.header {
    width: 500px;
    height: 100%;
    float:left;
    margin-right: 30px;
    background: #d3e0ce;
    text-align: center;
}

.photoImg {
    width: 250px;
    height: 250px;
    border-radius: 50% ;

    margin-top: 50px;
 
}
.name__block {
    margin-top: 50px;
}

.name__info {
    margin-top: 100px;  
}

li {
    margin-bottom: 10px;
    list-style-type: none;
}

.section {
    width: 600px;
    height: 100%;
    float: left;


}
.info {
    width: 100%;
    padding:40px 30px 40px 30px;
    margin-right:60px; 
}
.section_header {
    width: 500px;
  
}
hr {
    border: 1px solid #d3e0ce;
}
